* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

header {
    background-color: rgb(233, 233, 233);
    padding: 20px;
    font-size: 24px;
}

header h1 {
    color: black;
    text-align: center;
    
}

body {
    background-color: rgb(129, 188, 216);  
}

.score-board {
    margin: 30px auto;
    border: 3px solid rgb(233, 233, 233);
    width: 300px;
    font-size: 40px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2px 10px;

}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;

}

.result p {
    text-align: center;
}

.choices {
    text-align: center;
    padding-top: 15px;
    border: 6px solid rgb(233, 233, 233); 
    margin-top: 20px;
}

.choice {
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.2);
    
}

#action-message {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 35px;
}
